@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  /* Global reset rules */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 0px;
  }
  body {
    @apply font-body text-base bg-background text-body;
  }
  h1 {
    @apply font-heading text-xl;
  }
  h2 {
    @apply text-lg font-heading font-bold;
  }
  h3 {
    @apply font-heading  font-bold leading-7;
  }
  p {
    @apply font-body text-sm;
  }
  li {
    @apply font-body text-sm;
  }
}
.page-container {
  @apply w-full  px-4 lg:max-w-[77rem]  mx-auto;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
